<section class="card">
  <h1>Employee Login</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Email
      <input formControlName="email" />
    </label>
    <div class="err" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      Enter a valid email.
    </div>

    <label>Password
      <input type="password" formControlName="password" />
    </label>
    <div class="err" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
      Password is required.
    </div>

    <div class="actions">
      <button type="submit" [disabled]="loading">Login</button>
	  <p>Don't have an account? <button type="button" (click)="goToRegister()">Register</button></p>
    </div>

    <p class="err" *ngIf="error">{{ error }}</p>
  </form>
</section>
