<section class="dashboard-card" *ngIf="!loading && profile && profile.role === 'admin'">
  <div class="header">
    <h1>Welcome, {{ profile.name }}</h1>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
  <h2>Employee List</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.role }}</td>
      </tr>
    </tbody>
  </table>
</section>

<section class="dashboard-card" *ngIf="!loading && profile && profile.role === 'employee'">
  <div class="header">
    <h1>Welcome, {{ profile.name }}</h1>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <div class="info-grid">
    <div class="info-item">
      <label>Employee ID</label>
      <p>{{ profile.id }}</p>
    </div>

    <div class="info-item">
      <label>Email</label>
      <p>{{ profile.email }}</p>
    </div>

    <div class="info-item">
      <label>Role</label>
      <p>{{ profile.role }}</p>
    </div>
  </div>
</section>

<div *ngIf="loading" class="loading">Loading...</div>
<div *ngIf="error" class="error">{{ error }}</div>
